In [1]:
import pandas as pd
import numpy as np
import re
import os
import utils 
import string

pd.options.display.max_columns = 100
pd.options.display.max_rows = 1000

In [2]:
data_dir = "data/"

files = ["H-1B_Disclosure_Data_FY16.xlsx", 
            "H-1B_Disclosure_Data_FY15_Q4.xlsx", 
            "H-1B_Disclosure_Data_FY17.xlsx"]

In [3]:
data = pd.read_excel(data_dir + files[2])

In [4]:
columns = list(data)
print(columns)
print(data.dtypes)

['CASE_NUMBER', 'CASE_STATUS', 'CASE_SUBMITTED', 'DECISION_DATE', 'VISA_CLASS', 'EMPLOYMENT_START_DATE', 'EMPLOYMENT_END_DATE', 'EMPLOYER_NAME', 'EMPLOYER_ADDRESS', 'EMPLOYER_CITY', 'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE', 'EMPLOYER_COUNTRY', 'EMPLOYER_PROVINCE', 'EMPLOYER_PHONE', 'EMPLOYER_PHONE_EXT', 'AGENT_ATTORNEY_NAME', 'AGENT_ATTORNEY_CITY', 'AGENT_ATTORNEY_STATE', 'JOB_TITLE', 'SOC_CODE', 'SOC_NAME', 'NAICS_CODE', 'TOTAL_WORKERS', 'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'PW_UNIT_OF_PAY', 'PW_SOURCE', 'PW_SOURCE_YEAR', 'PW_SOURCE_OTHER', 'WAGE_RATE_OF_PAY_FROM', 'WAGE_RATE_OF_PAY_TO', 'WAGE_UNIT_OF_PAY', 'H-1B_DEPENDENT', 'WILLFUL_VIOLATOR', 'WORKSITE_CITY', 'WORKSITE_COUNTY', 'WORKSITE_STATE', 'WORKSITE_POSTAL_CODE', 'ORIGINAL_CERT_DATE']
CASE_NUMBER                      object
CASE_STATUS                      object
CASE_SUBMITTED           datetime64[ns]
DECISION_DATE            datetime64[ns]
VISA_CLASS                       object
EMPLOYMENT_START_DATE    datetime64[ns]
EMPLOYMENT_END_DATE      datetime64[ns]
EMPLOYER_NAME                    object
EMPLOYER_ADDRESS                 object
EMPLOYER_CITY                    object
EMPLOYER_STATE                   object
EMPLOYER_POSTAL_CODE             object
EMPLOYER_COUNTRY                 object
EMPLOYER_PROVINCE                object
EMPLOYER_PHONE                   object
EMPLOYER_PHONE_EXT               object
AGENT_ATTORNEY_NAME              object
AGENT_ATTORNEY_CITY              object
AGENT_ATTORNEY_STATE             object
JOB_TITLE                        object
SOC_CODE                         object
SOC_NAME                         object
NAICS_CODE                      float64
TOTAL_WORKERS                     int64
FULL_TIME_POSITION               object
PREVAILING_WAGE                 float64
PW_UNIT_OF_PAY                   object
PW_SOURCE                        object
PW_SOURCE_YEAR                  float64
PW_SOURCE_OTHER                  object
WAGE_RATE_OF_PAY_FROM           float64
WAGE_RATE_OF_PAY_TO             float64
WAGE_UNIT_OF_PAY                 object
H-1B_DEPENDENT                   object
WILLFUL_VIOLATOR                 object
WORKSITE_CITY                    object
WORKSITE_COUNTY                  object
WORKSITE_STATE                   object
WORKSITE_POSTAL_CODE             object
ORIGINAL_CERT_DATE       datetime64[ns]
dtype: object

In [5]:
data.head()

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,EMPLOYER_PROVINCE,EMPLOYER_PHONE,EMPLOYER_PHONE_EXT,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,JOB_TITLE,SOC_CODE,SOC_NAME,NAICS_CODE,TOTAL_WORKERS,FULL_TIME_POSITION,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_SOURCE,PW_SOURCE_YEAR,PW_SOURCE_OTHER,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE
0,I-200-16055-173457,CERTIFIED-WITHDRAWN,2016-02-24,2016-10-01,H-1B,2016-08-10,2019-08-10,DISCOVER PRODUCTS INC.,2500 LAKE COOK ROAD,RIVERWOODS,IL,60015,UNITED STATES OF AMERICA,NaN,2244050900,NaN,"ELLSWORTH, CHAD",NEW YORK,NY,ASSOCIATE DATA INTEGRATION,15-1121,COMPUTER SYSTEMS ANALYSTS,522210.0,1,Y,59197.0,Year,OES,2015.0,OFLC ONLINE DATA CENTER,65811.0,67320.0,Year,N,N,RIVERWOODS,LAKE,IL,60015,2016-03-01
1,I-200-16064-557834,CERTIFIED-WITHDRAWN,2016-03-04,2016-10-01,H-1B,2016-08-16,2019-08-16,DFS SERVICES LLC,2500 LAKE COOK ROAD,RIVERWOODS,IL,60015,UNITED STATES OF AMERICA,NaN,2244050900,NaN,"ELLSWORTH, CHAD",NEW YORK,NY,SENIOR ASSOCIATE,15-2031,OPERATIONS RESEARCH ANALYSTS,522210.0,1,Y,49800.0,Year,Other,2015.0,TOWERS WATSON DATA SERVICES 2015 CSR PROFESSIO...,53000.0,57200.0,Year,N,N,RIVERWOODS,LAKE,IL,60015,2016-03-08
2,I-200-16063-996093,CERTIFIED-WITHDRAWN,2016-03-10,2016-10-01,H-1B,2016-09-09,2019-09-09,EASTBANC TECHNOLOGIES LLC,1211 31ST ST. NW,WASHINGTON,DC,20007,UNITED STATES OF AMERICA,NaN,2022953000,NaN,"BURKE, KAREN",WASHINGTON,DC,.NET SOFTWARE PROGRAMMER,15-1131,COMPUTER PROGRAMMERS,541511.0,2,Y,76502.0,Year,OES,2015.0,OFLC ONLINE DATA CENTER,77000.0,0.0,Year,Y,N,WASHINGTON,NaN,DC,20007,2016-03-16
3,I-200-16272-196340,WITHDRAWN,2016-09-28,2016-10-01,H-1B,2017-01-26,2020-01-25,INFO SERVICES LLC,17177 NORTH LAUREL PARK DR,LIVONIA,MI,48152,UNITED STATES OF AMERICA,NaN,7343776007,NaN,",",NaN,NaN,PROJECT MANAGER,15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",541511.0,1,Y,90376.0,Year,OES,2016.0,OFLC ONLINE DATA CENTER,102000.0,0.0,Year,Y,N,JERSEY CITY,HUDSON,NJ,07302,NaT
4,I-200-15053-636744,CERTIFIED-WITHDRAWN,2015-02-22,2016-10-02,H-1B,2015-03-01,2018-03-01,BB&T CORPORATION,223 WEST NASH STREET,WILSON,NC,27893,UNITED STATES OF AMERICA,NaN,2522462031,NaN,"SCOFIELD, EILEEN",ATLANTA,GA,ASSOCIATE - ESOTERIC ASSET BACKED SECURITIES,13-2041,CREDIT ANALYSTS,522110.0,1,Y,116605.0,Year,OES,2015.0,OFLC ONLINE DATA CENTER,132500.0,0.0,Year,N,N,NEW YORK,NEW YORK,NY,10036,2015-02-26

In [6]:
print(len(data))

528146

In [7]:
print(len(data.CASE_NUMBER.unique()))

528146

In [8]:
print(data.CASE_STATUS.unique())

['CERTIFIED-WITHDRAWN' 'WITHDRAWN' 'CERTIFIED' 'DENIED']

In [9]:
print(data.VISA_CLASS.unique())

['H-1B' 'E-3 Australian' 'H-1B1 Singapore' 'H-1B1 Chile']

In [10]:
data.CASE_SUBMITTED.isnull().sum()

0

In [11]:
data.DECISION_DATE.isnull().sum()

0

In [12]:
data['CASE_SUBMITTED'] = data['CASE_SUBMITTED'].dt.strftime('%Y-%m-%d')
data['DECISION_DATE'] = data['DECISION_DATE'].dt.strftime('%Y-%m-%d')

In [13]:
data.EMPLOYER_ADDRESS.isnull().sum()

6

In [14]:
data['EMPLOYER_ADDRESS'] = data['EMPLOYER_ADDRESS'].apply(utils.emp_address)

In [15]:
data.EMPLOYER_POSTAL_CODE.isnull().sum()

15

In [16]:
data.EMPLOYER_POSTAL_CODE = data['EMPLOYER_POSTAL_CODE'].apply(utils.update_fix_zip)

Not a number:  L0S ANGELES
zip code error:  300341
Not a number:  CA
Not a number:  V6J 1C7
Not a number:  V6J 1C7
zip code error:  882017630014
zip code error:  926002
Not a number:  V6J 1C7
Not a number:  NEW Y0RK
Not a number:  V6J 1C7
zip code error:  372075
zip code error:  752147
Not a number:  CA
zip code error:  440077
Not a number:  TINIAN
zip code error:  372075
Not a number:  0T65208224
Not a number:  V6J 1C7
zip code error:  238220
zip code error:  9
zip code error:  541512
Not a number:  nan
Not a number:  SAN FRANCISC0
zip code error:  926141
Not a number:  nan
Not a number:  GARDEN GR0VE
Not a number:  W00DCLIFF LAKE
zip code error:  511210
zip code error:  9739090360
zip code error:  080021
Not a number:  TARRANT
zip code error:  787558
zip code error:  9739090360
zip code error:  484369
Not a number:  CA
Not a number:  nan
Not a number:  V6J 1C7
zip code error:  675205
Not a number:  SAN FRANCISC0
Not a number:  NEW Y0RK
Not a number:  NY
zip code error:  088902
Not a number:  nan
zip code error:  797047
zip code error:  945054
Not a number:  NEW Y0RK
zip code error:  713990
Not a number:  nan
Not a number:  SAN FRANCISC0
Not a number:  USA
Not a number:  nan
Not a number:  NEW Y0RK
zip code error:  370247
Not a number:  nan
Not a number:  NEW Y0RK
Not a number:  NEW Y0RK
Not a number:  NEW Y0RK
Not a number:  NEW Y0RK
zip code error:  541110
Not a number:  SAN FRANCISC0
Not a number:  nan
zip code error:  1
Not a number:  0TTAWA
zip code error:  511210
zip code error:  336111
zip code error:  118003
zip code error:  541611
Not a number:  DEKALB
zip code error:  201475
zip code error:  541611
zip code error:  303018
Not a number:  GARDEN GR0VE
Not a number:  V6J 1C7
zip code error:  980390
zip code error:  926543
Not a number:  C00K
Not a number:  NEW Y0RK
zip code error:  008852
Not a number:  FULT0N
Not a number:  ALAMEDA
Not a number:  SAN FRANCISC0
Not a number:  ALAMEDA
zip code error:  941111
zip code error:  622110
zip code error:  773339
zip code error:  016158
zip code error:  900010
Not a number:  nan
Not a number:  C00K
Not a number:  nan
Not a number:  S0U91733
Not a number:  nan
zip code error:  118003
Not a number:  nan
zip code error:  902445
Not a number:  SSAU
Not a number:  nan
Not a number:  NEW JERSEY
Not a number:  N0RTH BRUNSWIC
Not a number:  nan
Not a number:  NEW JERSEY
zip code error:  941045
Not a number:  MIDDLESEX
Not a number:  MCLENN
Not a number:  nan
zip code error:  484369
zip code error:  711219
Not a number:  NEW Y0RK
zip code error:  541511
zip code error:  685090
zip code error:  100212

In [17]:
data.EMPLOYER_POSTAL_CODE.isnull().sum()

111

In [18]:
data.WORKSITE_POSTAL_CODE.isnull().sum()

15

In [19]:
data.WORKSITE_POSTAL_CODE = data['WORKSITE_POSTAL_CODE'].apply(utils.update_fix_zip)

zip code error:  981109
zip code error:  799103
zip code error:  553443
zip code error:  951354
zip code error:  101676
zip code error:  927702
zip code error:  617913
zip code error:  110167
zip code error:  121244
zip code error:  914133
Not a number:  ARLINGT0N
zip code error:  198014
zip code error:  680892
zip code error:  100036
Not a number:  HARRIS
Not a number:  CUYAH0GA
zip code error:  483226
zip code error:  100036
zip code error:  275602
Not a number:  TIPPECAN0E
Not a number:  nan
zip code error:  4630100
zip code error:  5457900
zip code error:  115627
zip code error:  0853676155
zip code error:  030328
zip code error:  900015
zip code error:  030303
zip code error:  0853676155
zip code error:  060606
zip code error:  800528
zip code error:  0853676155
zip code error:  932547
Not a number:  DALLAS
zip code error:  018861
zip code error:  156444
zip code error:  106101
zip code error:  100013
zip code error:  9410509200
Not a number:  HILLSB0R0UGH
Not a number:  DALLAS
zip code error:  947043
zip code error:  392013
Not a number:  HILLSB0R0UGH
Not a number:  HILLSB0R0UGH
Not a number:  HILLSB0R0UGH
Not a number:  nan
zip code error:  266506
Not a number:  SANTA CLARA
zip code error:  943010
zip code error:  008869
zip code error:  008869
zip code error:  007030
zip code error:  019713
zip code error:  080237
zip code error:  027513
zip code error:  092626
zip code error:  013202
zip code error:  018861
zip code error:  372027
Not a number:  VIRGINIA
zip code error:  7321853
zip code error:  563258
zip code error:  662223
zip code error:  454040
zip code error:  481201
zip code error:  48
Not a number:  NEW Y0RK
Not a number:  MARIC0PA
Not a number:  PHILADELPHIA
zip code error:  940431
zip code error:  007054
zip code error:  151132
Not a number:  HILLSB0R0UGH
Not a number:  PH0ENIX
zip code error:  331380
zip code error:  018865
zip code error:  19713511768
zip code error:  900012
Not a number:  HILLSB0R0UGH
zip code error:  940431
Not a number:  CA
zip code error:  3723257901
zip code error:  422421
zip code error:  75
zip code error:  970006
Not a number:  WILLIAMS0N
zip code error:  100010
zip code error:  111405
zip code error:  074595
zip code error:  100038
Not a number:  S0MERSET
zip code error:  0
Not a number:  SANTA CLARA
zip code error:  200006
zip code error:  801123
zip code error:  432149
zip code error:  100118
zip code error:  100001
zip code error:  191032
Not a number:  nan
Not a number:  SANTA CLARA
Not a number:  SANTA CLARA
Not a number:  SANTA CLARA
Not a number:  SANTA CLARA
zip code error:  606543
zip code error:  606543
Not a number:  NEW Y0RK
zip code error:  3702780124
zip code error:  891012
Not a number:  nan
Not a number:  nan
zip code error:  0170208933
zip code error:  085052
zip code error:  994105
Not a number:  nan
zip code error:  070780
zip code error:  070780
zip code error:  070083
zip code error:  100001
Not a number:  HENNEPIN C0UNT
Not a number:  SUNNYVALE
zip code error:  3170530014
zip code error:  335921
zip code error:  335921
zip code error:  954301
zip code error:  1
zip code error:  1
zip code error:  3001430381
zip code error:  222009
zip code error:  752334
zip code error:  077027
zip code error:  5348651
zip code error:  8523483
zip code error:  108805
zip code error:  940043
zip code error:  560033
zip code error:  196462
Not a number:  CARPINTERIA
zip code error:  481224
zip code error:  891012
Not a number:  nan
zip code error:  452349
Not a number:  SANTA CLARA
zip code error:  3031300
zip code error:  606012
Not a number:  nan
zip code error:  927702
zip code error:  044262
Not a number:  SANTA CLARA
Not a number:  KING
Not a number:  nan
zip code error:  852863
zip code error:  4810348198
Not a number:  SANTA CLARA
zip code error:  196462
Not a number:  NEED
Not a number:  PH0ENIX
zip code error:  918010
Not a number:  HARRIS
Not a number:  nan
Not a number:  NEW Y0RK
zip code error:  481224
zip code error:  7794404
zip code error:  534045
zip code error:  752334
Not a number:  nan
Not a number:  P
zip code error:  1003630328
zip code error:  7926900
zip code error:  777036
Not a number:  DALLAS
zip code error:  290016
zip code error:  066790
zip code error:  021116
zip code error:  200016
Not a number:  95678QQ
Not a number:  BR00KLYN
zip code error:  022115
zip code error:  201475
zip code error:  200016
zip code error:  980390
Not a number:  CENTRE
zip code error:  377066
zip code error:  606054
zip code error:  201147
zip code error:  113558
zip code error:  027072
zip code error:  600018
zip code error:  730
zip code error:  335921
zip code error:  154241
zip code error:  0
zip code error:  75
zip code error:  850007
zip code error:  322
zip code error:  980007
zip code error:  4810348198
zip code error:  201901
zip code error:  478170
zip code error:  201901
zip code error:  951110
zip code error:  045381
zip code error:  333331
zip code error:  333331
Not a number:  SAN FRANCISC0
zip code error:  995046
zip code error:  327496
zip code error:  100
zip code error:  232119
zip code error:  021412
zip code error:  426204
zip code error:  426204
zip code error:  850007
zip code error:  850007
zip code error:  4810148288
zip code error:  850007
zip code error:  008855
zip code error:  454102
zip code error:  7286200
zip code error:  232119
Not a number:  07059
zip code error:  080540
Not a number:  0H 43067
Not a number:  nan
Not a number:  PA
Not a number:  PA
Not a number:  nan
zip code error:  850008
zip code error:  330309
zip code error:  746653
zip code error:  727176
zip code error:  606054
zip code error:  335921
zip code error:  335921
zip code error:  533703
zip code error:  100007
zip code error:  533703
zip code error:  100007
zip code error:  787682
Not a number:  nan
zip code error:  110566
zip code error:  100017
zip code error:  100118
zip code error:  891012
Not a number:  nan
Not a number:  MPLAQUANUSIB
zip code error:  100004
zip code error:  3035430071
zip code error:  432115
zip code error:  210201
zip code error:  200006
Not a number:  UNKN0WN
Not a number:  UNKN0WN
Not a number:  UNKN0WN
zip code error:  100036
zip code error:  616111
Not a number:  QU0T14604 QU0T
zip code error:  841074
zip code error:  029210
Not a number:  RICHM0ND
zip code error:  0
zip code error:  0
zip code error:  0
zip code error:  0
zip code error:  4800748462
zip code error:  926114
zip code error:  0853407105
zip code error:  4810148288
zip code error:  7523400
zip code error:  200013
Not a number:  M0NTG0MERY
Not a number:  M0NTG0MERY
zip code error:  801112
zip code error:  100016
zip code error:  231219
zip code error:  7500175398
zip code error:  4526335244
zip code error:  4526335244
zip code error:  4526335244
zip code error:  4526335244
zip code error:  4526335244
zip code error:  4526335244
Not a number:  LINC0LN
zip code error:  303303
zip code error:  012110
zip code error:  7500175398
zip code error:  7500175398
zip code error:  733607
zip code error:  900071
zip code error:  303322

In [20]:
data.WORKSITE_POSTAL_CODE.isnull().sum()

291

In [21]:
data["EMPLOYER_CITY"]=data.EMPLOYER_CITY.apply(utils.uppercase_nopunct)
data["EMPLOYER_STATE"]=data.EMPLOYER_STATE.apply(utils.uppercase_nopunct)
data["WORKSITE_CITY"]=data.WORKSITE_CITY.apply(utils.uppercase_nopunct)
data["WORKSITE_STATE"]=data.WORKSITE_STATE.apply(utils.uppercase_nopunct)

In [23]:
data[data['WORKSITE_STATE']=='PW']

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_COUNTRY,EMPLOYER_PROVINCE,EMPLOYER_PHONE,EMPLOYER_PHONE_EXT,AGENT_ATTORNEY_NAME,AGENT_ATTORNEY_CITY,AGENT_ATTORNEY_STATE,JOB_TITLE,SOC_CODE,SOC_NAME,NAICS_CODE,TOTAL_WORKERS,FULL_TIME_POSITION,PREVAILING_WAGE,PW_UNIT_OF_PAY,PW_SOURCE,PW_SOURCE_YEAR,PW_SOURCE_OTHER,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE
67138,I-200-16336-545842,CERTIFIED,2016-12-01,2016-12-07,H-1B,2016-12-05,2019-12-04,BI LABS INC,517 ROUTE 1 S,ISELIN,NJ,08830,UNITED STATES OF AMERICA,NaN,7326364201,NaN,",",NaN,NaN,PROGRAMMER ANALYST,15-1131,COMPUTER PROGRAMMERS,541511.0,1,Y,55349.0,Year,OES,2016.0,OFLC ONLINE DATA CENTER,60000.0,0.0,Year,N,N,PLYMOUTH MEETING,MONTGOMERY,PW,19462,NaT

In [24]:
data.WORKSITE_STATE = data.WORKSITE_STATE.replace('PW', 'PA')

In [25]:
data.EMPLOYER_STATE.isnull().sum()

15

In [26]:
data.EMPLOYER_STATE = data[['CASE_NUMBER','EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE']].apply(utils.update_fix_states, axis =1)

Old state was FM and new state is FL
Old state was nan and new state is CA Case Number: I-200-16306-591423
Old state was AS and new state is WA
Old state was nan and new state is MA Case Number: I-200-17059-270290
Old state was nan and new state is MA Case Number: I-200-17062-703263

In [27]:
data.EMPLOYER_STATE.isnull().sum()

12

In [28]:
data.WORKSITE_STATE.isnull().sum()

7

In [29]:
data.WORKSITE_STATE = data[['CASE_NUMBER','WORKSITE_STATE', 'WORKSITE_POSTAL_CODE']].apply(utils.worksite_fix_states, axis =1)

Old state was nan and new state is DE Case Number: I-200-16301-945047
Old state was nan and new state is IN Case Number: I-200-17034-707367
Old state was FM and new state is FL Case Number: I-200-17048-549460
Old state was nan and new state is CA Case Number: I-200-17061-694427

In [30]:
data.WORKSITE_STATE.isnull().sum()

4

In [31]:
data.JOB_TITLE = data['JOB_TITLE'].apply(utils.emp_address)

In [32]:
 data['DOT_CODE'] = None

In [33]:
 data.SOC_CODE = data.SOC_CODE.apply(utils.update_fix_socCode)

SOC code error:  113-1161 | 113-1161
SOC code error:  15-119.08 | 15-119.08
SOC code error:  030 | 030
SOC code error:  1-1132 | 1-1132
SOC code error:  15-11212 | 15-11212
SOC code error:  COMPUTER OCCUPATIONS, ALL OTHER | COMPUTEROCCUPATIONS,ALLOTHER
SOC code error:  SOFTWARE DEVELOPERS, APPLICATIONS | SOFTWAREDEVELOPERS,APPLICATIONS
SOC code error:  SOFTWARE DEVELOPERS, APPLICATIONS | SOFTWAREDEVELOPERS,APPLICATIONS
SOC code error:  COMPUTER SYSTEMS ANALYST | COMPUTERSYSTEMSANALYST
SOC code error:  MECHANICAL ENGINEERS | MECHANICALENGINEERS
SOC code error:  SOFTWARE DEVELOPERS, APPLICATIONS | SOFTWAREDEVELOPERS,APPLICATIONS
SOC code error:  ELECTRICAL ENGINEERS | ELECTRICALENGINEERS
SOC code error:  15-119.02 | 15-119.02
SOC code error:  ENGINEERS, ALL OTHER | ENGINEERS,ALLOTHER
SOC code error:  13-161 | 13-161

In [34]:
data.SOC_CODE.unique()

array(['15-1121', '15-2031', '15-1131', '15-1199', '13-2041', '13-2099',
       '13-1111', '13-1161', '15-1132', '19-1029', '25-2031', '19-1021',
       '11-2022', '19-1042', '15-2041', '19-1013', '17-2072', '17-2081',
       '25-9031', '11-3021', '21-1014', '13-2051', '15-1133', '15-1134',
       '11-2021', '17-2071', '17-3011', '27-3042', '19-4021', '25-1066',
       '23-1011', '17-3027', '29-1069', '19-2032', '13-1199', '27-1021',
       '17-2199', '13-1071', '15-1035', '29-1021', '15-1142', '41-3031',
       '13-2011', '15-1141', '41-9031', '29-1061', '19-1099', '17-1012',
       '27-4032', '15-1037', '29-1051', '25-1123', '19-2043', '19-2021',
       '19-2042', '17-2051', '29-1063', '15-1132.00', '15-1143', '17-2011',
       '29-2011', '17-2131', '17-2141', '13-1041', '19-2012', '15-2021',
       '29-1123', '19-4061', '11-3031', '27-3031', '11-9041', '11-9051',
       '25-1054', '17-2031', '15-1111', '17-2112', '15-1122', '25-1022',
       '13-1121', '13-1081', '21-1023', '43-4071', '11-3071', '25-1125',
       '19-2031', '29-1065', '21-2021', '29-1151', '25-2022', '15-1152',
       '17-2041', '25-1071', '25-1042', '29-9091', '19-1042.00', '25-1032',
       '27-1014', '19-3051', '27-3099', '17-2061', '11-1021', '25-9011',
       '17-2063', '19-3099', '17-3023', '25-1052', '11-9033', '27-3091',
       '13-1151', '27-1024', '11-1011', '25-1021', '29-1062', '11-9199',
       '21-1012', '15-1199.02', '29-9099', '25-1011', '25-2021', '17-2053',
       '17-2076', '25-1063', '29-1021.00', '15-1052', '25-1072', '25-1053',
       '11-2031', '11-9021', '29-1122', '15-1151', '11-3051', '27-4021',
       '15-2041.02', '21-1013', '29-1131', '11-9121', '11-3121', '11-2011',
       '11-3061', '25-1065', '19-1012', '27-1027', '13-1051', '13-2052',
       '29-1071', '27-2012', '21-1093', '19-3039', '15-1799', '17-2121',
       '11-3011', '29-9092', '11-9031', '17-1011', '29-1029', '27-2041',
       '25-4012', '19-3011', '19-3031', '15-1199.08', '25-9021', '25-1041',
       '29-1067', '11-9141', '25-1062', '19-3022', '17-2112.00', '39-2021',
       '25-2011', '21-1022', '29-1199', '17-2144', '31-9095', '13-2061',
       '27-3041', '27-1022', '27-1025', '11-9111', '27-1029', '19-1022',
       '17-2074', '25-1113', '25-1124', '15-1199.09', '15-1034', '15-1053',
       '15-2011', '11-9151', '13-2051.00', '13-1141', '39-9041', '29-1066',
       '11-9039', '19-2041', '25-1122', '29-1065.00', '15-1023', '41-9012',
       '19-4099', '17-3029', '41-9031.00', '23-2099', '17-2199.02',
       '41-4012', '23-2011', '29-1127', '17-2051.00', '17-2021',
       '15-1199.01', '51-4012', '19-1011', '19-2099', '27-3043', '19-4031',
       '17-2161', '21-1019', '27-3022', '29-1041', '25-1061', '19-3092',
       '29-1141', '113-1161', '13-2031', '11-9032', '27-1011', '17-3013',
       '17-2171', '17-2111', '21-1021', '25-1121', '19-1041', '11-3131',
       '43-3061', '13-1011', '15-1022', '35-1011', '25-4021', '27-2022',
       '23-1012', '13-1022', '29-1171', '25-3099', '19-1023', '15-1021.00',
       '29-9011', '11-9121.01', '19-1029.02', '29-1125', '11-9081',
       '19-3093', '11-9013', '25-1194', '25-2053', '19-1021.00', '13-1023',
       '43-4051', '17-1021', '29-1081', '29-2011.00', '19-4041',
       '25-1011.00', '17-1022', '29-1011', '11-9111.00', '39-9032',
       '29-1031', '21-1091', '15-1121.00', '25-1193', '25-1069', '25-1067',
       '29-1128', '25-1199', '19-3094', '29-2012', '15-2099', '25-4013',
       '49-2022', '17-2141.00', '39-2011', '17-3026', '25-1081', '31-9099',
       '13-2082', '25-1191', '31-9092', '25-2031.00', '15-1031', '29-2091',
       '13-2053', '25-2012', '25-1031', '25-1051', '13-1111.00', '25-1126',
       '21-1011', '21-1015', '43-9111', '21-2011', '49-9061', '29-1064',
       '15-1055', '51-9196', '17-3022', '25-3021', '25-1112', '21-1029',
       '19-3041', '29-1024', '45-2011', '17-2151', '43-9199', '17-2071.00',
       '15-1061.00', '25-1192', '13-1051.00', '19-2011', '17-2161.00',
       '11-3111', '13-1131', '15-119.08', '15-1133.00', '41-3099',
       '41-4011', '25-2052', '19-1031', '43-5061', '43-6011', '25-9099',
       '19-2041.00', '43-9011', '17-2199.99', '29-1123.00', '15-2041.01',
       '43-1011', '53-2011', '39-7012', '17-2199.04', '25-2021.00',
       '25-2054', '13-2099.01', '41-3098', '41-3011', '19-3032', '25-3011',
       '53-6051.08', '39-9031', '15-1036', '13-1031', '19-1029.03',
       '11-1021.00', '25-1043', '25-2041', '11-9161', '41-9021', '43-3031',
       '25-9041', '29-1022', '15-1199.07', '17-2199.07', '31-9096',
       '49-3011', '39-5094', '13-2072', '15-1054', '29-1063.00', '27-4011',
       '15-1031.00', '25-2023', '11-9199.01', '25-9031.01', '27-1025.00',
       '47-2152', '25-1111', '030', '21-1099', '17-2081.00', '51-9012',
       '17-2041.00', '15-1099.11', '51-6092', '43-4181', '45-2021',
       '13-2011.01', '37-2011', '41-1012', '47-4099', '27-1024.00',
       '39-5012', '43-6014', '51-9199', '23-1022', '19-4021.00', '27-2099',
       '25-3999', '43-4111', '19-1029.01', '19-2032.00', '21-2099',
       '41-3041', '13-1041.00', '41-3021', '1-1132', '13-2071', '25-2059',
       '31-1014', '15-1051.00', '41-9011', '19-2099.01', '15-1150',
       '13-2021', '11-3021.00', '29-9012', '45-1011', '21-1015.00',
       '19-4011', '31-9091', '29-1023', '31-2021', '41-3031.03',
       '11-9041.00', '27-4012', '19-3011.00', '27-1019', '25-1064',
       '27-4014', '17-3021', '25-1082', '13-2011.00', '15-1199.06',
       '17-2062', '19-3091', '29-2099', '45-2092', '15-1199.10',
       '29-1041.00', '47-2121', '21-1094', '19-2023', '41-9022',
       '29-1051.00', '17-2143', '19-2012.00', '53-5021', '15-1142.00',
       '27-4031', '17-3024', '33-3021', '49-2093', '15-2091', '51-6052',
       '15-1099.01', '43-9081', '43-9041', '27-3031.00', '47-2061',
       '45-2091', '51-2011', '29-2071', '19-4051', '25-4011', '43-9031',
       '27-1023', '29-1129', '47-1011', '29-2056', '29-1111', '13-1151.00',
       '29-2032', '41-1011', '17-3025', '17-2073', '19-3094.00',
       '27-3022.00', '11-9199.03', '41-9099', '15-11212', '27-3042.00',
       '17-2141.02', '15-1036.00', '25-1063.00', '35-2014', '15-1099.09',
       '17-3029.05', '39-5092', '53-1021', '11-3051.00', '19-2031.00',
       '15-1199.00', '29-1181', '27-2042', '41-2031', '15-1141.00',
       '17-3019', '13-1075', '29-2031', '43-9111.01', '29-1127.00',
       '25-2051', '17-2052', '13-2081', '51-9081', '13-2099.02',
       '19-4061.01', '29-2052', '17-2144.00', '17-2031.00', '49-9021',
       '13-1081.00', '43-5011', '49-9062', '27-1014.00', '17-2112.01',
       '11-9199.02', '13-1081.01', '51-9071', '29-9092.00', '43-9061',
       'COMPUTEROCCUPATIONS,ALLOTHER', '37-3011', '51-6041', '15-1411',
       '15-1799.00', '19-1032', '25-1071.00', '15-1032', '53-6099',
       '29-1069.00', '29-1062.00', '53-6051', '17-1011.00', '11-3051.01',
       '19-4091', '11-3031.00', 'SOFTWAREDEVELOPERS,APPLICATIONS',
       '17-2075', '25-2032', '53-6041', '35-3011', '27-1012', '49-2095',
       '17-2199.05', '29-2021', '47-2051', '17-2072.00', '25-2011.00',
       '15-2041.00', 'COMPUTERSYSTEMSANALYST', '43-4161', '31-9093',
       '15-2031.00', '27-2021', '17-2141.01', '27-2032', '17-2199.03',
       '35-1012', '19-3092.00', '13-1199.99', '43-6012', '15-1051',
       '39-4031', '13-1161.00', 'MECHANICALENGINEERS', '27-3021',
       '15-1099.10', '17-2199.08', '29-2034', '15-1099.02', '15-1032.00',
       '15-1199.04', '43-4031', '29-1069.99', '27-3011', '27-2022.00',
       '13-1073.00', '19-3051.00', '51-1011', '13-1021', '19-4092',
       '39-9011', '29-1029.00', '51-4061', '15-1131.00', '27-1029.00',
       '35-3041', '17-3012', 'ELECTRICALENGINEERS', '43-3011',
       '19-4061.00', '13-1081.02', '19-2011.00', '25-2022.00', '15-1071',
       '29-1126', '51-2099', '27-1013', '25-3021.00', '15-119.02',
       '11-9199.04', '49-9063', '29-2055', '17-3011.01', '43-4131',
       '19-3021.00', '25-1067.00', '53-2022', '41-3011.00', '51-8031',
       '11-9051.00', '15-2011.00', 'ENGINEERS,ALLOTHER', '26-1065',
       '47-2231', '29-1064.00', '17-2199.00', '49-9069', '11-2021.00',
       '29-1069.04', '43-4081', '45-2099', '49-1011', '13-1199.05',
       '41-9091', '51-9061', '27-2012.03', '15-1199.03', '17-2199.11',
       '29-1066.00', '27-3041.00', '29-2061', '29-1124', '37-3013',
       '43-3099', '11-9199.06', '11-2011.00', '21-1012.00', '51-3099',
       '51-3011', '27-1022.00', '17-3031', '25-3099.99', '27-3021.00',
       '51-2092', '43-4199', '37-1012', '25-3099.00', '31-1012', '49-9041',
       '49-2098', '43-4011', '51-4121', '47-4011', '49-3021', '15-1130',
       '11-3011.00', '13-1078', '27-1021.00', '35-2019', '19-1011.00',
       '19-1012.00', '29-1122.00', '39-1021', '49-3023', '29-2032.00',
       '17-2121.01', '25-1032.00', '35-3031', '53-2012', '19-3099.01',
       '49-9071', '27-2011', '47-2181', '13-2015', '13-161', '11-9199.99',
       '37-1011', '19-3022.00', '11-9021.00', '49-9099', '13-1041.07',
       '35-2021', '27-2031', '17-2051.01', '49-9098', '27-2012.01',
       '51-2041', '19-1021.01'], dtype=object)

In [35]:
data.TOTAL_WORKERS.isnull().sum()

0

In [36]:
data.EMPLOYER_PHONE = data.EMPLOYER_PHONE.apply(utils.emp_address)

In [37]:
data['EMPLOYER_AREA_CODE'] = [
    str(i)[:3] if len(str(i)) == 10 else np.nan for i in data['EMPLOYER_PHONE']
]

In [38]:
data['WAGE_UNIT_OF_PAY'].unique()

array(['Year', 'Hour', 'Month', 'Bi-Weekly', 'Week', nan], dtype=object)

In [39]:
data['WAGE_UNIT_OF_PAY'] = data['WAGE_UNIT_OF_PAY'].apply(utils.fix_unitOfPay)

In [40]:
data['WAGE_UNIT_OF_PAY'].unique()

array(['Y', 'H', 'M', 'B', 'W', None], dtype=object)

In [41]:
data['PW_UNIT_OF_PAY'].unique()

array(['Year', 'Hour', nan, 'Month', 'Bi-Weekly', 'Week'], dtype=object)

In [42]:
data['PW_UNIT_OF_PAY'] = data['PW_UNIT_OF_PAY'].apply(utils.fix_unitOfPay)

In [43]:
data['PW_UNIT_OF_PAY'].unique()

array(['Y', 'H', None, 'M', 'B', 'W'], dtype=object)

In [ ]:
def calc_wage(x):
    wf = x.WAGE_RATE_OF_PAY_FROM
    wt = x.WAGE_RATE_OF_PAY_TO
    if pd.isnull(wt):
        return wf

    if wf <=wt:
        return (wf + wt)/2
    else:
        return wf

In [44]:
data['WAGE_RATE_OF_PAY_FROM'] = data['WAGE_RATE_OF_PAY_FROM'].replace(0, np.nan)
data['WAGE_RATE_OF_PAY_TO'] = data['WAGE_RATE_OF_PAY_TO'].replace(0, np.nan)
data['WAGE_RATE_OF_PAY'] = data[['WAGE_RATE_OF_PAY_FROM', 'WAGE_RATE_OF_PAY_TO']].apply(utils.calc_wage, axis =1)

In [ ]:
data.head(30)

In [46]:
#LOOK AT YO CLEAN DATA
data.WAGE_RATE_OF_PAY_FROM.isnull().sum()

2

In [48]:
#Select only the columns that your data has that are in the master list
cdata = data[['CASE_SUBMITTED', 'CASE_NUMBER', 'CASE_STATUS', 'DECISION_DATE', 'VISA_CLASS',
    'JOB_TITLE', 'DOT_CODE', 'SOC_CODE', 'SOC_NAME', 'FULL_TIME_POSITION',
    'EMPLOYER_NAME', 'EMPLOYER_ADDRESS', 'EMPLOYER_CITY', 'EMPLOYER_STATE', 'EMPLOYER_POSTAL_CODE',
    'EMPLOYER_AREA_CODE', 'NAICS_CODE', 'TOTAL_WORKERS', 
    'WORKSITE_CITY', 'WORKSITE_STATE', 'WORKSITE_POSTAL_CODE', 
    'WAGE_RATE_OF_PAY', 'WAGE_UNIT_OF_PAY', 'PREVAILING_WAGE', 'PW_UNIT_OF_PAY']]

In [49]:
cdata.head()

,CASE_SUBMITTED,CASE_NUMBER,CASE_STATUS,DECISION_DATE,VISA_CLASS,JOB_TITLE,DOT_CODE,SOC_CODE,SOC_NAME,FULL_TIME_POSITION,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,EMPLOYER_POSTAL_CODE,EMPLOYER_AREA_CODE,NAICS_CODE,TOTAL_WORKERS,WORKSITE_CITY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,WAGE_RATE_OF_PAY,WAGE_UNIT_OF_PAY,PREVAILING_WAGE,PW_UNIT_OF_PAY
0,2016-02-24,I-200-16055-173457,CERTIFIED-WITHDRAWN,2016-10-01,H-1B,ASSOCIATE DATA INTEGRATION,None,15-1121,COMPUTER SYSTEMS ANALYSTS,Y,DISCOVER PRODUCTS INC.,2500 LAKE COOK ROAD,RIVERWOODS,IL,60015,224,522210.0,1,RIVERWOODS,IL,60015,66565.5,Y,59197.0,Y
1,2016-03-04,I-200-16064-557834,CERTIFIED-WITHDRAWN,2016-10-01,H-1B,SENIOR ASSOCIATE,None,15-2031,OPERATIONS RESEARCH ANALYSTS,Y,DFS SERVICES LLC,2500 LAKE COOK ROAD,RIVERWOODS,IL,60015,224,522210.0,1,RIVERWOODS,IL,60015,55100.0,Y,49800.0,Y
2,2016-03-10,I-200-16063-996093,CERTIFIED-WITHDRAWN,2016-10-01,H-1B,NET SOFTWARE PROGRAMMER,None,15-1131,COMPUTER PROGRAMMERS,Y,EASTBANC TECHNOLOGIES LLC,1211 31ST ST NW,WASHINGTON,DC,20007,202,541511.0,2,WASHINGTON,DC,20007,77000.0,Y,76502.0,Y
3,2016-09-28,I-200-16272-196340,WITHDRAWN,2016-10-01,H-1B,PROJECT MANAGER,None,15-1199,"COMPUTER OCCUPATIONS, ALL OTHER",Y,INFO SERVICES LLC,17177 NORTH LAUREL PARK DR,LIVONIA,MI,48152,734,541511.0,1,JERSEY CITY,NJ,07302,102000.0,Y,90376.0,Y
4,2015-02-22,I-200-15053-636744,CERTIFIED-WITHDRAWN,2016-10-02,H-1B,ASSOCIATE ESOTERIC ASSET BACKED SECURITIES,None,13-2041,CREDIT ANALYSTS,Y,BB&T CORPORATION,223 WEST NASH STREET,WILSON,NC,27893,252,522110.0,1,NEW YORK,NY,10036,132500.0,Y,116605.0,Y

In [50]:
#Write out your clean data to a file

if not os.path.exists('cleaned_data'):
        os.mkdir('cleaned_data')
        
new_filename="2017.csv"
cdata.to_csv("cleaned_data/{}".format(new_filename), encoding='utf-8')